<!DOCTYPE html>
<html>
  <head>
  <title>auth redirect</title> 
  </head>
  <body>
    <script type="text/javascript">
      top.location.href = "https://www.facebook.com/dialog/oauth/?client_id=386637231477175&redirect_uri=https%3A%2F%2Fapps.facebook.com%2Fownmegame%2F&scope=user_photos%2Cpublish_stream%2Cphoto_upload%2Cuser_location%2Cuser_birthday";
    </script>
  </body>
</html>